@import "../../css/_module-imports";

.u4m-cta-row {
  .innerContainer {
    position: relative;
    max-width: 662rem;
    margin-left: auto;
    border-radius: 24rem;
    .intro_content {
      border-radius: 24rem;
      background: $white;
      display: flex;
      padding: 80rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 10rem;
      z-index: 99;
      position: relative;
      &.center {
        .intro_btn_wrap {
          justify-content: center;
        }
      }
      &.right {
        .intro_btn_wrap {
          justify-content: flex-end;
        }
      }
    }

    h2.intro_title {
      margin-bottom: 10rem;
      color: $dark_green;
    }

    .intro_desc {
      p {
        color: $dark_green;
        margin-bottom: 30rem;
      }
    }

    .intro_btn_wrap {
      justify-content: left;
      column-gap: 55rem;
      row-gap: 20rem;

      a.hs-button {
        background: $dark_green;
        color: $white;
      }
    }

    &:after {
      border-radius: 24rem;
      content: "";
      display: block;
      height: calc(100% + 10rem);
      left: -5rem;
      position: absolute;
      top: -5rem;
      width: calc(100% + 10rem);
    }

    @include tabletvert {
      max-width: 100%;

      .intro_content {
        padding: 20rem;
      }

      .intro_btn_wrap {
        gap: 15rem;
      }
    }
  }
}
