@import "../../css/_module-imports";

$color_1: #536c5f;

.u4m-resource-slider {
  .innerContainer {
    .intro__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 50px 0px;
      .intro_desc {
        max-width: 620px;
        margin-left: 0;
        @include tabletvert {
          max-width: 100%;
        }
      }
    }
  }
  .cm-resource-slider {
    .card-item {
      .card-inner {
        padding: 40px;
        @include tablet {
          padding: 20px;
        }
        .tag-wrp {
          span {
            display: inline-block;
            text-transform: uppercase;
            line-height: 24px;
            font-family: $font1;
            font-size: 16rem;
            font-style: normal;
            font-weight: 600;
            color: $color_1;
          }
        }
        .card-cont {
          text-align: left;
          .tag-wrp {
            margin-bottom: 12px;
          }
          .title-wrp {
            h5 {
              font-family: $font2;
              font-size: 28rem;
              font-style: normal;
              font-weight: 700;
              line-height: 30px;
              margin: 0;
              @include tabletvert {
                font-size: 22px;
                line-height: 1;
              }
            }
            margin-bottom: 12px;
          }
          .des-wrp {
            font-size: 16rem;
            p {
              font-family: $font1;
              font-size: 16rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              margin: 0;
            }
          }
          .btn-wrp {
            margin-top: 30px;
          }
        }
      }
    }
    .splide {
      .custom-splide-arrows {
        padding: 50px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 30px;
        @include tabletvert {
          padding: 25px 0px;
        }
        button.custom-arrow {
          background: transparent;
          border-radius: 50%;
          display: inline-block;
          height: 50px;
          padding: 0;
          width: 50px;
          border: 0;
          @include tabletvert {
            width: 40px;
            height: 40px;
          }
          svg {
            width: 50px;
            height: 50px;
            @include tabletvert {
              width: 40px;
              height: 40px;
            }
          }
        }
        button.custom-arrow.splide__arrow--next {
          transform: rotate(0deg);
        }
        button.custom-arrow.splide__arrow--prev {
          transform: rotate(180deg);
        }
      }
    }
    .resource-slider {
      margin: 0px -20px;
      @include laptop {
        padding: 0px;
        margin: 0;
      }
      overflow: hidden;
      @include smallTablet {
        margin: 0;
      }
    }
  }
}
