<!--
templateType: "none"
isAvailableForNewContent: false
-->

<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
	<head>
		<meta charset="utf-8">
		<title>{{ page_meta.html_title }}</title>
		<link rel="shortcut icon" href='{{ "{{ site_settings.favicon_src }}" if site_settings.favicon_src }}'/>
		<meta name="description" content="{{ page_meta.meta_description }}">
		{{ require_css(get_asset_url('../css/styles.css')) }}
		{{ require_js(get_asset_url('../../js/plugins/aos.js')) }}
		{{ require_js("https://unpkg.com/aos@2.3.1/dist/aos.js") }}
		{{ require_css("https://unpkg.com/aos@2.3.1/dist/aos.css") }}
		{% require_js %}
		<script>
			AOS.init({
				once: true,
				duration: 500
			});
		</script>
		{% end_require_js %}
		{{ standard_header_includes }}
		{# {% unless content.featured_image %}<meta property="og:image" content="https://302335.fs1.hubspotusercontent-na1.net/hubfs/302335/placeholder-image.jpg" />{% endunless %} #}
		{% if not site_settings.include_jquery %}
		{{ require_js("https://code.jquery.com/jquery-3.7.0.js", "footer") }}
		{% endif %}

		{% if template_meta.label == "thank-you-page.html" %}<meta name="robots" content="noindex">{% endif %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	</head>
	<body class="{{ builtin_body_classes }} {% if request.full_url is string_containing "/author/" %} author-listing {% endif %}">
		{% block header %}
		{% global_partial path='../templates/partials/u4m-header.html' %}
		{% endblock header %}

		{% block body %}
		{% endblock body %}

		{% block footer %}
		{# {% module 'u4m-footer' path='../modules/u4m-footer', label='U4M Footer' %} #}
		{% global_partial path='../templates/partials/u4m-footer.html' %}
		{% endblock footer %}
		{{ require_js(get_asset_url('../js/main.js')) }}

		{% end_require_js %}
		{{ standard_footer_includes }}
	</body>
</html>
