<!--
    templateType: global_partial
    label: Footer no navigation
-->

<div class="u4m-footer lp-footer">

  <div class="footerBtm">
    <div class="page-center">
      <div class="btm-inner">
        <div class="meta-details">
          <div class="logo">
            {% set logo_file =  get_asset_url('../images/midwest-logo.png') %}
            {% module "footer_logo2" path="@hubspot/logo", label="Footer Logo", link='/', img={src="{{logo_file}}", width= 187, alt="Midwest Energy", override_inherited_src= true} %}
          </div>

        </div>
        <div class="primary-nav">
          <div class="comp-add">
            {% module_block module 'company_headquarters' path='@hubspot/rich_text' label='Company Headquarters' %}
            {% module_attribute 'html' %}
            <h3>
              Corporate Headquarters
            </h3>
            <a href="">Privacy Policy</a>
            {% end_module_attribute %}
            {% end_module_block %}
          </div>
        </div>

      </div>
      <div class="copyright-image">
        <div class="copyright-text">
          {% module_block module 'copyright_text3' path='@hubspot/rich_text' label='Copyright' %}
          {% module_attribute 'html' %}
          <p>
            Copyright © {{year}} Midwest Energy & Communications. All Rights Reserved.
          </p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>
      </div>
    </div>
  </div>
</div>