<!--
 templateType: global_partial
 label: Footer
 -->

<style>
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLight.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLight.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLight.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLight.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLight.woff') }}) format('woff');
		font-weight: 200;
		font-style: normal;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLightIt.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLightIt.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLightIt.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLightIt.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-ExtraLightIt.woff') }}) format('woff');
		font-weight: 200;
		font-style: italic;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-Light.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Light.woff') }}) format('woff'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Light.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Light.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Light.svg') }}) format('svg');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-LightIt.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-LightIt.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-LightIt.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-LightIt.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-LightIt.woff') }}) format('woff');
		font-weight: 300;
		font-style: italic;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-Regular.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Regular.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Regular.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Regular.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Regular.woff') }}) format('woff');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url('fonts/SourceSansPro-Italic.woff2') format('woff2'),
			url('fonts/SourceSansPro-Italic.woff') format('woff');
		font-weight: 400;
		font-style: italic;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-Semibold.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Semibold.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Semibold.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Semibold.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Semibold.woff') }}) format('woff');
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url('fonts/SourceSansPro-SemiboldItalic.woff2') format('woff2'),
			url('fonts/SourceSansPro-SemiboldItalic.woff') format('woff');
		font-weight: 600;
		font-style: italic;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-Bold.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Bold.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Bold.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Bold.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Bold.woff') }}) format('woff');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url('fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
			url('fonts/SourceSansPro-BoldItalic.woff') format('woff');
		font-weight: 700;
		font-style: italic;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url({{ get_asset_url('../../fonts/SourceSansPro-Black.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Black.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Black.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Black.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/SourceSansPro-Black.woff') }}) format('woff');
		font-weight: 900;
		font-style: normal;
	}
	@font-face {
		font-family: 'Source Sans Pro';
		src: url('fonts/SourceSansPro-BlackItalic.woff2') format('woff2'),
			url('fonts/SourceSansPro-BlackItalic.woff') format('woff');
		font-weight: 900;
		font-style: italic;
	}

	/* priori sans it font family	 */

	@font-face {
		font-family: 'Priori Sans OT';
		src: url('fonts/PrioriSansOT-UltraLight.woff2') format('woff2'),
			url('fonts/PrioriSansOT-UltraLight.woff') format('woff');
		font-weight: 100;
		font-style: normal;
	}

	@font-face {
		font-family: 'Priori Sans OT';
		src: url('fonts/PrioriSansOT-Light.woff2') format('woff2'),
			url('fonts/PrioriSansOT-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'Priori Sans OT';
		src: url({{ get_asset_url('../../fonts/PrioriSansOT-Regular.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Regular.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Regular.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Regular.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Regular.woff') }}) format('woff');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Priori Sans OT';
		src: url('fonts/PrioriSansOT-Italic.woff2') format('woff2'),
			url('fonts/PrioriSansOT-Italic.woff') format('woff');
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: 'Priori Sans OT';
		src: url({{ get_asset_url('../../fonts/PrioriSansOT-Bold.woff2') }}) format('woff2'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Bold.ttf') }}) format('ttf'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Bold.eot') }}) format('eot'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Bold.svg') }}) format('svg'),
			url({{ get_asset_url('../../fonts/PrioriSansOT-Bold.woff') }}) format('woff');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Priori Sans OT';
		src: url('fonts/PrioriSansOT-Black.woff2') format('woff2'),
			url('fonts/PrioriSansOT-Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}

	.u4m-footer .footerTop {
		background: #D0DD28;
		padding: 26.5px 80px;
	}

	.u4m-footer .footerTop .page-center {
		max-width: 1180px;
		padding: 0;
	}

	.u4m-footer .footerTop .page-center h2 {
		font-family: "Priori Sans OT";
		font-size: 42px;
		font-style: normal;
		font-weight: 700;
		line-height: 48px;
		color: #39473F;
		text-align: center;
		margin-bottom: 0;
	}

	.u4m-footer .footerBtm {
		padding: 50px 80px;
	}

	.u4m-footer .footerBtm .page-center {
		padding: 0;
		max-width: 1280px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul {
		margin: 0;
		padding:0;
		list-style:none;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul{
		margin: 0;
		padding:0;
		list-style:none;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul{
		margin: 0;
		padding:0;
		list-style:none;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul{
		margin: 0;
		padding:0;
		list-style:none;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul>li {
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul>li{
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul>li {
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul>li {
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .comp-add h3{
		max-width: unset;
		padding: 0;
		text-overflow: unset;
		white-space: normal;
		overflow: unset;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
		display: inline-block;
		margin-bottom: 0px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul>li>a {
		max-width: unset;
		padding: 0;
		text-overflow: unset;
		white-space: normal;
		overflow: unset;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
		display: inline-block;
		margin-bottom: 12px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul>li>a {
		max-width: unset;
		padding: 0;
		text-overflow: unset;
		white-space: normal;
		overflow: unset;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
		display: inline-block;
		margin-bottom: 12px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul>li>a {
		max-width: unset;
		padding: 0;
		text-overflow: unset;
		white-space: normal;
		overflow: unset;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
		display: inline-block;
		margin-bottom: 12px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul>li>a {
		max-width: unset;
		padding: 0;
		text-overflow: unset;
		white-space: normal;
		overflow: unset;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
		display: inline-block;
		margin-bottom: 12px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul ul li {
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul ul li {
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul ul li {
		margin: 0;
		letter-spacing: normal;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul ul li {
		margin: 0;
		letter-spacing: normal;
	}


	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul ul li a {
		padding: 0;
		width: unset;
		overflow: unset;
		text-overflow: unset;
		white-space: nowrap;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 12px;
		cursor:pointer;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul ul li a {
		padding: 0;
		width: unset;
		overflow: unset;
		text-overflow: unset;
		white-space: nowrap;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 12px;
		cursor:pointer;
	}
	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul ul li a {
		padding: 0;
		width: unset;
		overflow: unset;
		text-overflow: unset;
		white-space: nowrap;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 12px;
		cursor:pointer;
	}
	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul ul li a {
		padding: 0;
		width: unset;
		overflow: unset;
		text-overflow: unset;
		white-space: nowrap;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 12px;
		cursor:pointer;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul ul li:last-child a {
		margin-bottom: 0;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul ul li:last-child a {
		margin-bottom: 0;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul ul li:last-child a {
		margin-bottom: 0;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul ul li:last-child a {
		margin-bottom: 0;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .comp-add p {
		margin-bottom: 0;
		margin-top: 12px;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .comp-add a {
		display: inline-block;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	.u4m-footer .footerBtm .page-center .btm-inner {
		display:flex;
		gap: 50px;
		width: 100%;
		margin-bottom:50px;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .primary-nav {
		display: flex;
		gap: 50px;
		width:66%;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .meta-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width:34%;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul ul {
		position: static;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul ul {
		position: static;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul ul {
		position: static;
	}

	.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul ul {
		position: static;
	}

	.u4m-footer .footerBtm .page-center .copyright-image {
		display: flex;
		/* height: 85px; */
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
	}

	.u4m-footer .footerBtm .page-center .copyright-image .image-cnt {
		display: flex;
		align-items: center;
	}

	.u4m-footer .footerBtm .page-center .copyright-image .copyright-text p:first-child {
		margin-bottom: 0px;
	}

	.u4m-footer .footerBtm .page-center .copyright-image .copyright-text p:last-child {
		margin-bottom: 0;
	}

	.u4m-footer .footerBtm .page-center .copyright-image .image-cnt .all-fiber img {
		flex-shrink: 0;
		aspect-ratio: 1/1;
	}

	.u4m-footer .footerBtm .page-center .copyright-image .image-cnt .accredited img {
		flex-shrink: 0;
		min-height: 80px;
		max-height: 80px;
		width:100%;
		height:100%;
	}

	.u4m-footer .footerBtm .page-center .copyright-image .copyright-text p {
		margin-top: 0;
		color: #39473F;
		font-family: "Source Sans Pro";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	@media(max-width:1200px){

		.u4m-footer .footerBtm .page-center .btm-inner .meta-details {
			width: 100%;
		}

		.u4m-footer .footerBtm .page-center .btm-inner {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.u4m-footer .footerBtm .page-center .btm-inner .primary-nav {
			gap: unset;
			justify-content: space-between;
			width: 100%;
		}
	}

	@media(max-width:991px){

		.u4m-footer .footerBtm .page-center .copyright-image {
			flex-direction: column;
			row-gap: 50px;
			align-items: flex-start;
		}

		.u4m-footer .footerBtm .page-center .btm-inner .about-us .hs-menu-wrapper>ul ul li a{
			white-space:normal;
		}

		.u4m-footer .footerBtm .page-center .btm-inner .quick-links .hs-menu-wrapper>ul ul li a{
			white-space:normal;
		}

		.u4m-footer .footerBtm .page-center .btm-inner .solutions .hs-menu-wrapper>ul ul li a{
			white-space:normal;
		}

		.u4m-footer .footerBtm .page-center .btm-inner .support .hs-menu-wrapper>ul ul li a{
			white-space:normal;
		}

		.u4m-footer .footerBtm .page-center .btm-inner .primary-nav{
			gap:10px;
		}
	}

	@media(max-width:767px){

		.u4m-footer .footerBtm .page-center .btm-inner .primary-nav {
			flex-direction: column;
			row-gap: 20px;
		}

		.u4m-footer .footerBtm {
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.u4m-footer .footerTop {
			padding-left: 25px;
			padding-right: 25px;
			padding: 25px;
		}

		.u4m-footer .footerTop .page-center h2 {
			font-size: 28px;
			line-height:1.25;
		}
	}
	
	@media(max-width:575px){
		
		.u4m-footer .footerBtm .page-center .copyright-image .image-cnt{
			flex-direction:column;
			margin-left:auto;
			margin-right:auto;
		}
	}

</style>

<div class="u4m-footer">
	<div class="footerTop">
		<div class="page-center">
			{% module_block module 'footer_top_content' path='@hubspot/rich_text' label='Footer Top Content' %}
			{% module_attribute 'html' %}
			<h2>
				Creating vibrant, relevant, sustainable rural communities.
			</h2>
			{% end_module_attribute %}
			{% end_module_block %}
		</div>
	</div>

	<div class="footerBtm">
		<div class="page-center">
			<div class="btm-inner">
				<div class="meta-details">
					<div class="logo">
						{% set logo_file =  get_asset_url('../images/midwest-logo.png') %}
						{% module "footer_logo2" path="@hubspot/logo", label="Footer Logo", link='/', img={src="{{logo_file}}", width= 187, alt="Midwest Energy", override_inherited_src= true} %}
					</div>
					<div class="social-icons-wrap">
						{% module "social_share" path="../../modules/u4m-social-share", label="Social Share" %}
					</div>
				</div>
				<div class="primary-nav">
					<div class="comp-add">
						{% module_block module 'company_headquarters' path='@hubspot/rich_text' label='Company Headquarters' %}
						{% module_attribute 'html' %}
						<h3>
							Corporate Headquarters
						</h3>
						<p>
							60590 Decatur Rd.<br>
							Cassopolis, MI 49031
						</p>
						<p>
							800.492.5989
						</p>
						<a href="">Privacy Policy</a>
						{% end_module_attribute %}
						{% end_module_block %}
					</div>
					<div class="about-us">
						{% menu "about_us" id=190465655668, flyouts=false, label='About Us' %}
					</div>
					<div class="quick-links">
						{% menu "quick_links" id=190465655675, flyouts=false, label='Quick Links' %}
					</div>
					<div class="solutions">
						{% menu "soultions" id=190465655683, flyouts=false, label='Solutions' %}
					</div>
					<div class="support">
						{% menu "support" id=190465655700, flyouts=false, label='Support' %}
					</div>
				</div>

			</div>
			<div class="copyright-image">
				<div class="copyright-text">
					{% module_block module 'copyright_text3' path='@hubspot/rich_text' label='Copyright' %}
					{% module_attribute 'html' %}
					<p>
						Copyright © {{year}} Midwest Energy & Communications. All Rights Reserved.
					</p>
					<p>
						Internet, propane, and data center services are not regulated by the Michigan Public Service Commission.
					</p>
					<p>
						CommandIQ™, ExperienceIQ™, and ProtectIQ™ are trademarks of Calix, our internet equipment and CommandIQ™ mobile app partner.
					</p>
					{% end_module_attribute %}
					{% end_module_block %}
				</div>
				<div class="image-cnt">
					<div class="all-fiber">
						{% module "all_fiber" path="@hubspot/linked_image" label="All Fiber Certified" img={ 
						"src": get_asset_url('../images/all-fiber-certified.png'), 
						"alt": "All Fiber Certified", 
						"loading": "disabled", 
						"width": 114, 
						"height": 114 
						}
						%}
					</div>
					<div class="accredited">
						{% module "accredited2" path="@hubspot/linked_image" label="Accredited Business"  img={ 
						"src": get_asset_url('../images/accredited.png'), 
						"alt": "Accredited Business", 
						"loading": "disabled", 
						"width": 209, 
						"height": 80 
						}%}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




