@import "../../css/_module-imports";

.u4m-animated-stats {
  .stats-wrapper {
    .stats_item.col-2 {
      width: 20%;
    }
    .stats_item {
      .stats_inner {
        min-width: 162.334rem;
        min-height: 162.334rem;
        max-width: 162.334rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark_green;
        text-align: center;
        font-family: $font2;
        font-size: 80rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        overflow: hidden;
        word-break: break-word;
        @include tablet {
          font-size: 60rem;
          @include tabletvert {
            font-size: 50rem;
          }
        }
      }
      .stats_bottom_text {
        padding: 20rem 0rem;
        text-align: center;
        @include tabletvert {
          padding-bottom: 0px;
        }
        p {
          color: $middle_green;
          text-align: center;
          font-family: "Source Sans Pro";
          font-size: 18rem;
          font-style: normal;
          font-weight: 400;
          line-height: 28rem;
        }
      }
      .top_text {
        padding-bottom: 0;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      .stats_border_wrapper {
        padding: 8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .flex_row {
      justify-content: center;
      margin: 0 -30rem;
      @include navbreak {
        margin: 0;
      }
      @include tabletvert {
        row-gap: 0px;
      }
    }
    margin-top: 50rem;
  }
}
.reverse-text.u4m-animated-stats {
  .stats-wrapper {
    .stats_item {
      .stats_bottom_text {
        p {
          color: $white;
        }
      }
    }
  }
}
