{% set moduleName = 'u4m-side-tabber' %}
{% include "../partials/u4-module-includes.html" %}
{{ macros.introGroup(module.intro_content, module.module_settings) }}
</div>


<div class="cm-side-tabber " {% if module.module_settings.include_animation %}data-aos="{{ module.module_settings.animation_type }}"
		 {% endif %} data-aos-delay="100">
	<div class="flex_row">
		{% if  module.tab_title %}
		<div class="col col-3 left">
			<div class="col-inner">
				<ul class="tab_row">
					{% for item in module.tab_title %}
					<li data="{{loop.index}}" class="{% if loop.first%} active {% endif  %}">
						{% if  item.title %}
						<a href="javascript:void(0)" class="tablink">{{ item.title }}</a>
						{% endif %}
						{% if item.tab_content %}
						<div class="tab-content">
							{{ item.tab_content }}
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>	
		</div>	
		{% endif %}
		{% for item in module.tab_title %}
		<div class="col col-9 right {% if loop.first%} active {% endif  %} " data="{{loop.index}}">
			<div class="col-inner">
				<div class="flex_row">
					<div class="col-6 {% if  not item.right_column.media_column.image_field.src %}col-12 {% endif %}">
						<div class="inner">
							{% if item.right_column.content_column.select_icon_type   == "icon"%}
							{% if icon %}
							<div class="icon-wrp">
								{% icon
		name="{{ item.right_column.content_column.icon_field.name }}"
		style="{{ item.right_column.content_column.icon_field.type }}"
		unicode="{{ item.right_column.content_column.icon_field.unicode }}"
		icon_set="{{ item.right_column.content_column.icon_field.icon_set }}"
	%}
							</div>
							{% endif%}
							{% endif%}
							{% if item.right_column.content_column.select_icon_type  =="svg"%}
							{% if item.right_column.content_column.svg_icon_text %}
							<div class="icon-wrp">
								{{ item.right_column.content_column.svg_icon_text }}
							</div>
							{% endif%}
							{% endif%}
							{% if item.right_column.content_column.title %}
							<h5 class="title">
								{{ item.right_column.content_column.title }}
							</h5>
							{% endif%}

							{% if item.right_column.content_column.content %}
							<div class="cont">
								{{ item.right_column.content_column.content }}
							</div>
							{% endif%}
							{% if item.right_column.content_column.include_button %}
							{% if item.right_column.content_column.button_group %}
							{{macros.buttonGroup(item.right_column.content_column.button_group)}}
							{% endif %}
							{% endif%}
						</div>
					</div>
					{% if item.right_column.media_column.image_field.src %}
					<div class="col-6">
						<div class="inner">
							<div class="bgImg" style="background-image:url({{ item.right_column.media_column.image_field.src|escape_url }})"></div>
						</div>
					</div>
	{% endif%}
				</div>	
			</div>	
		</div>	
		{% endfor %}
	</div>
</div>
</div>
</section>




{% require_js%}
<script>
	const tabItem = document.querySelectorAll('.u4m-side-tabber .page-center .cm-side-tabber .flex_row .left ul.tab_row a.tablink');
	const tabContent = document.querySelectorAll('.u4m-side-tabber .page-center .cm-side-tabber .flex_row .right');

	tabItem.forEach((item) => {
		item.addEventListener('click', function (e) {
			e.preventDefault(); 
			tabItem.forEach((elm) => {
				elm.parentNode.classList.remove('active');
			});
			item.parentNode.classList.add('active');
			const title = item.parentNode.getAttribute('data');
			tabContent.forEach((cont) => {
				const content = cont.getAttribute('data');
				if (title === content) {
					cont.classList.add('active');
				} else {
					cont.classList.remove('active');
				}
			});
		});
	});
</script>

{% end_require_js%}

