{% set moduleName = 'u4m-image-and-icon-cards' %}
{% include "../partials/u4-module-includes.html" %}
{% if module.module_settings.move_intro_content == "false" %}
{{ macros.introGroup(module.intro_content, module.module_settings) }}
</div>
{% endif %}

<div class="content_column {{ module.module_settings.card_settings.select_list_type }} {% if module.module_settings.move_intro_content %} intro-content-inner {% endif %} {% if module.module_settings.card_settings.include_background_in_column %}columnhasbg{% endif %}" {% if module.module_settings.include_animation %}
     data-aos="{{ module.module_settings.animation_type }}"
     {% endif %}>
  {% if module.module_settings.move_intro_content %}
  {{ macros.introGroup(module.intro_content, module.module_settings) }}
  {% endif %}

  <div class="flex_row">
    {% for item in module.content_column.card_items %}
    <div class="card_area col {{ module.module_settings.card_settings.number_of_cards }}">
      <div class="card_inner {% if module.module_settings.card_settings.number_of_cards == "col-12" %} full-width-image {% endif %} {% if not item.media_type %} no-media {% endif %} {% if item.media_type == "img" %}imageholderactive{% endif %} {% if item.media_type == "svg" %}svgholderactive{% endif %} {% if item.media_type == "icon" %}svgholderactive{% endif %} {{ item.icon_alignment }}">

        {% if item.media_type %}
        <div class="media_holder">
          {% if item.media_type == "img" %}
          {% if item.image_field.src %}
          <div class="img">
            <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}">
            {% if item.include_image_bottom_border %}
            <div class="shapegradient {{item.select_gradient}}"></div>
            {% endif %}
          </div>
          {% endif %}
          {% endif %}

          {% if item.media_type == "icon" %}
          <div class="icon">
            {% icon
    name="{{ item.icon_field.name }}"
    style="{{ item.icon_field.type }}"
    unicode="{{ item.icon_field.unicode }}"
    icon_set="{{ item.icon_field.icon_set }}"
  %}
          </div>
          {% endif %}

          {% if item.media_type == "svg" %}
          <div class="svg">
            {{ item.svg_code }}
          </div>
          {% endif %}
        </div>
        {% endif %}

        <div class="content_holder {{ module.module_settings.card_settings.content_size }} {% if item.dark_button_arrow %}darkbtn{% endif %}">
          <{{ item.heading_type }} class="cardtitle">{{ item.heading }}</{{ item.heading_type }}>
            {{ item.content }}
            {% if item.include_button %}
            {{macros.buttonGroup(item.button_group)}}
            {% endif %}
            </div>

        </div>
      </div>
      {% endfor %}
    </div>

    {% if module.button.include_button %}
    {{macros.buttonGroup(module.button.button_group)}}
    {% endif %}

  </div>


</div>
</section>


{% require_css %}
<style>
  .{{name}}.u4m-image-and-icon-cards .content_column .flex_row .card_inner.imageholderactive .content_holder {
    padding: 35px;
  }
  .{{name}}.u4m-image-and-icon-cards .content_column .flex_row .card_inner.svgholderactive{
    padding:35px;
  }
  .u4m-image-and-icon-cards.{{name}} .content_column.intro-content-inner .flex_row .content_holder .intro_btn_wrap .btn_item a,
  .u4m-image-and-icon-cards.{{name}} .content_column .flex_row .content_holder .cardtitle,
  .u4m-image-and-icon-cards.{{name}} .content_column .flex_row .content_holder p,
  .u4m-image-and-icon-cards.{{name}} .content_column .flex_row .content_holder ul li{
    color: rgba({{ module.module_settings.card_settings.card_content_color.color|convert_rgb}},{{ module.module_settings.card_settings.card_content_color.opacity * 0.01}});		
  }
  .u4m-image-and-icon-cards.{{name}} .content_column .flex_row .card_inner .icon svg{
    fill: rgba({{ module.module_settings.card_settings.card_content_color.color|convert_rgb}},{{ module.module_settings.card_settings.card_content_color.opacity * 0.01}});		
  }
  .{{name}}.u4m-image-and-icon-cards .content_column .flex_row .card_inner{
    background-color: rgba({{ module.module_settings.card_settings.card_background_color.color|convert_rgb}},{{ module.module_settings.card_settings.card_background_color.opacity * 0.01}});
    border-radius: 24px;
  }
  {% if module.module_settings.card_settings.include_background_in_column %}
  .{{name}}.u4m-image-and-icon-cards .content_column{
    background-color: rgba({{ module.module_settings.card_settings.column_background_color.color|convert_rgb}},{{ module.module_settings.card_settings.column_background_color.opacity * 0.01}});
    padding:50px;
    border-radius: 24px;
    padding-bottom: 72px;
  }
  {% endif %}

  @media (max-width:767px){
    .{{name}}.u4m-image-and-icon-cards .content_column .flex_row .card_inner.imageholderactive .content_holder {
      padding: 15px;
    }
    .{{name}}.u4m-image-and-icon-cards .content_column .flex_row .card_inner.svgholderactive{
      padding:15px;
    }
    {% if module.module_settings.card_settings.include_background_in_column %}
    .{{name}}.u4m-image-and-icon-cards .content_column{
      padding:15px;
    }
    {% endif %}
  }
</style>
{% end_require_css %}

