@import "../../css/_module-imports";

.u4m-image-and-icon-cards {
  .content_column {
    margin-top: 50rem;
    > .intro_btn_wrap {
      column-gap: 64.5rem;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50rem;

      row-gap: 30rem;
      a.hs-button {
        background-color: $dark_green;
        color: $white;
      }
    }
    .flex_row {
      @include phone {
        .card_inner.iconleft {
          flex-wrap: wrap;
        }
      }
      margin: 0 -10rem;
      justify-content: center;
      row-gap: 20rem;
      > div {
        padding: 0 10rem;
      }
      .content_holder {
        &.darkbtn {
          a.hs-button {
            background-color: #d0dd28;
            color: #39473f;
          }
          a.tertiary-btn {
            border-color: #d0dd28;
            color: #d0dd28;
          }
          a.hs-sec-btn {
            svg {
              path {
                fill: $dark_green;
              }
            }
          }
        }
        h4.cardtitle {
          font-family: $font2;
          @include h4;
          line-height: 1.13333333333;
          margin-bottom: 15rem;
        }
        p {
          margin-top: 0;
          margin-bottom: 15rem;
        }
        ul {
          margin: 0 0 15rem;
          padding-left: 30px;
          li {
            margin-bottom: 0;
            letter-spacing: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .card_inner {
        height: 100%;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          margin-bottom: 20px;

          li {
            margin-bottom: 5rem;
            letter-spacing: normal;
            display: flex;
            align-items: center;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 16rem;
            font-style: normal;
            font-weight: 400;
            line-height: 24rem;
            position: relative;

            &::before {
              content: "";
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22%2339473F%22/%3E%3Cpath%20d%3D%22M17.5309%208.13315L9.88778%2014.871L6.47078%2011.8587C6.37155%2011.7706%206.23682%2011.7212%206.09629%2011.7212C5.95572%2011.7212%205.82098%2011.7706%205.72196%2011.8586L5.15601%2012.3575C5.05608%2012.445%205%2012.5637%205%2012.6876C5%2012.8115%205.05611%2012.9303%205.15587%2013.0176L9.51733%2016.8625C9.61659%2016.9505%209.75131%2017%209.89183%2017C10.0323%2017%2010.1671%2016.9505%2010.2661%2016.8626L18.844%209.3008C18.9439%209.21343%2019%209.09462%2019%208.97067C19%208.84689%2018.944%208.72823%2018.8445%208.64096L18.2785%208.13487L18.2765%208.13315C18.0687%207.95562%2017.7386%207.95562%2017.5309%208.13315Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
              background-size: contain;
              background-repeat: no-repeat;
              margin-right: 8px;
              vertical-align: middle;
              flex-shrink: 0;
            }
          }
        }

        &.no-media {
          padding: 35px;
        }
        &.full-width-image {
          .media_holder {
            .img {
              img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: top;
              }
            }
          }
        }
        .media_holder {
          .img {
            svg {
              height: 100%;
              margin: 0;
              display: block;
              width: 100%;
            }
            img {
              border-radius: 24rem 24rem 0rem 0rem;
            }
          }
        }
        .icon {
          svg {
            width: 60rem;
            height: 60rem;
            margin-bottom: 30rem;
          }
        }
      }
      .media_holder {
        .svg {
          margin-bottom: 30rem;
        }
        svg {
          max-width: unset;
        }
      }
      .card_inner.iconleft {
        display: flex;
        column-gap: 30rem;
        .media_holder {
          width: 60rem;
        }
      }
    }
  }
  .content_column {
    &.intro-content-inner {
      .intro_content {
        margin-bottom: 50rem;
        .eyebrowtext {
          color: $bright_green;
          font-size: 13rem;
        }
      }
      .flex_row {
        > div {
          max-width: 434px;
          @include tabletvert {
            max-width: 100%;
          }
        }
      }
    }
  }

  .content_column.columnhasbg {
    .card_inner {
      padding: 35rem;
      @include tabletvert {
        padding: 15rem;
      }
    }
    .card_inner.imageholderactive {
      padding: 0;
    }
  }
}
