@import "../../css/_module-imports";

.u4m-slider-gallery {
  .page-center {
    .innerContainer {
      .intro_content {
        margin: 0 auto;
        text-align: center;
        .intCnt {
          .eyebrowtext {
            color: $dark_green;
            font-family: $font1;
            font-size: 13rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
          .intro_desc p {
            color: $dark_green;
            font-family: $font1;
            font-size: 20rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
      .intro_content.left {
        text-align: left;
      }
      .intro_content.right {
        text-align: right;
      }
    }
  }
  .u4m-slider-gallery-row {
    margin: 40px 0px;
    .cm-card-gallery-slider {
      .splide__track {
        .card-item {
          padding: 0 10px;
          .card-inner-item {
            .image-wrp {
              position: relative;
              width: 100%;
              padding-top: 100%;
              overflow: hidden;
              img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 24px;
              }
            }
          }
        }
      }
    }
    .custom-splide-arrows {
      display: flex;
      gap: 30px;
      justify-content: center;
      text-align: center;
      padding-top: 0px;
      @include laptop {
        position: relative;
      }

      .custom-arrow {
        background: $white;
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        padding: 0;
        width: 50px;
        border: 0;
        position: absolute;
        top: 40%;
        @include laptop {
          position: static;
          @include tablet {
            width: 40px;
            height: 40px;
          }
        }
        svg {
          width: 50px;
          height: 50px;
          @include tablet {
            width: 40px;
            height: 40px;
          }
        }
      }
      .splide__arrow--next {
        transform: rotate(0deg);
        right: -70px;
      }
      .splide__arrow--prev {
        transform: rotate(180deg);
        left: -70px;
      }
    }
  }
}
.fancybox__caption {
  text-align: center;
  font-family: $font1;
  font-size: 16rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
