@import "../../css/_module-imports";

.u4m-slider-gallery {
  .page-center {
    .innerContainer {
      .intro_content {
        margin: 0 auto;
        text-align: center;
        .intCnt {
          .eyebrowtext {
            color: #39473f;
            text-align: center;
            font-family: "Source Sans Pro";
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
          .intro_desc p {
            color: #39473f;
            text-align: center;
            font-family: "Source Sans Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
  }
  .u4m-slider-gallery-row {
    margin: 40px 0px;
    .cm-card-gallery-slider {
      .splide__track {
        .card-item {
          padding: 0 10px;
          .card-inner-item {
            .image-wrp {
              position: relative;
              width: 100%;
              padding-top: 100%;
              overflow: hidden;
              img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 24px;
              }
            }
          }
        }
      }
    }
    .custom-splide-arrows {
      display: flex;
      gap: 30px;
      justify-content: center;
      text-align: center;
      padding-top: 0px;
      .custom-arrow {
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        padding: 0;
        width: 50px;
        border: 0;
        position: absolute;
        top: 50%;
        svg {
          width: 50px;
          height: 50px;
        }
      }
      .splide__arrow--next {
        transform: rotate(0deg);
        right: -70px;
      }
      .splide__arrow--prev {
        transform: rotate(180deg);
        left: -70px;
      }
    }
  }
}
.fancybox-caption {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 1500px) {
  .u4m-slider-gallery .u4m-slider-gallery-row .custom-splide-arrows {
    position: relative;
  }

  .u4m-slider-gallery
    .u4m-slider-gallery-row
    .custom-splide-arrows
    .custom-arrow {
    position: static;
  }
}
@media (max-width: 767px) {
  .u4m-slider-gallery
    .u4m-slider-gallery-row
    .splide
    .custom-splide-arrows
    button.custom-arrow {
    width: 40px;
    height: 40px;
  }
  .u4m-slider-gallery
    .u4m-slider-gallery-row
    .splide
    .custom-splide-arrows
    button.custom-arrow
    svg {
    width: 40px;
    height: 40px;
  }
}
