// Colors - For transparency use rgba($action1, 0.5) = 50% opaque
$action1: #733bf7;
$action2: #00a4bd;
$black: #33475b;
$dark_black: #000000;
$white: #fff;
$gray1: #edf0f2;
$gray2: #cbd6e2;
$gray3: #7c98b6;
$bright_green: #d0dd28;
$super_light_gray: #f5f7f7;
$light_gray: #b8c0c2;
$middle_green: #697b79;
$dark_green: #39473f;
$orange: #f26524;
$red: #d73828;
$blue: #32a4d5;
$yellow: #ffc63e;
$middle_black: rgba(0, 0, 0, 0.3019607843);
$light_black: rgba(0, 0, 0, 0.1607843137);
$gradient1: linear-gradient(
  71deg,
  $white 0%,
  $bright_green 41.68%,
  $middle_green 83.9%,
  $middle_green 101.77%
);
$gradient2: radial-gradient(
  43.24% 59.53% at 35.43% 57.72%,
  rgba(208, 221, 40, 0.25) 0%,
  rgba(55, 58, 54, 0.06) 100%
);

$font1: "Source Sans Pro";
$font2: "Priori Sans OT";
$font3: "Lora";

$baseFontSize: 16rem;
$baseLineHeight: 1.5; // Golden ratio

// Border Radius
$border1: 4rem;
$border2: 5rem;
$border3: 10rem;
$border4: 24rem;

// Shadow
$shadow1: 0rem 1rem 12rem 0 rgba($black, 0.1);
$shadow2: 0 5rem 25rem 0 rgba($black, 0.2);
$shadow3: 0 10rem 50rem 0 rgba($black, 0.3);
$textShadow1: 0 0 4rem rgba($black, 0.3);

// Animation
$animation1: 0.1s ease-in;
$animation2: 0.25s ease-in;
$animation3: 1s ease-in;
