.u4m-footer {

    position: relative;
    z-index: 99;

    .footerTop {
        background: $bright_green;
        padding: 26.5rem 80rem;

        .page-center {
            max-width: 1180rem;
            padding: 0;

            h2 {
                font-family: $font2;
                font-size: 42rem;
                font-style: normal;
                font-weight: 700;
                line-height: 48rem;
                color: $dark_green;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

    .footerBtm {
        padding: 50rem 80rem;

        .page-center {
            padding: 0;
            max-width: 1280rem;

            .btm-inner {
                .about-us {
                    .hs-menu-wrapper {
                        >ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            >li {
                                margin: 0;
                                letter-spacing: normal;

                                >a {
                                    max-width: unset;
                                    padding: 0;
                                    text-overflow: unset;
                                    white-space: normal;
                                    overflow: unset;
                                    color: $dark_green;
                                    font-family: $font1;
                                    font-size: 16rem;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 150%;
                                    display: inline-block;
                                    margin-bottom: 12rem;
                                }
                            }

                            ul {
                                li {
                                    margin: 0;
                                    letter-spacing: normal;

                                    a {
                                        padding: 0;
                                        width: unset;
                                        overflow: unset;
                                        text-overflow: unset;
                                        white-space: nowrap;
                                        color: $dark_green;
                                        font-family: $font1;
                                        font-size: 12rem;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%;
                                        margin-bottom: 12rem;
                                        cursor: pointer;
                                    }

                                    &:last-child {
                                        a {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                position: static;
                            }
                        }
                    }
                }

                .quick-links {
                    .hs-menu-wrapper {
                        >ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            >li {
                                margin: 0;
                                letter-spacing: normal;

                                >a {
                                    max-width: unset;
                                    padding: 0;
                                    text-overflow: unset;
                                    white-space: normal;
                                    overflow: unset;
                                    color: $dark_green;
                                    font-family: $font1;
                                    font-size: 16rem;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 150%;
                                    display: inline-block;
                                    margin-bottom: 12rem;
                                }
                            }

                            ul {
                                li {
                                    margin: 0;
                                    letter-spacing: normal;

                                    a {
                                        padding: 0;
                                        width: unset;
                                        overflow: unset;
                                        text-overflow: unset;
                                        white-space: nowrap;
                                        color: $dark_green;
                                        font-family: $font1;
                                        font-size: 12rem;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%;
                                        margin-bottom: 12rem;
                                        cursor: pointer;
                                    }

                                    &:last-child {
                                        a {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                position: static;
                            }
                        }
                    }
                }

                .solutions {
                    .hs-menu-wrapper {
                        >ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            >li {
                                margin: 0;
                                letter-spacing: normal;

                                >a {
                                    max-width: unset;
                                    padding: 0;
                                    text-overflow: unset;
                                    white-space: normal;
                                    overflow: unset;
                                    color: $dark_green;
                                    font-family: $font1;
                                    font-size: 16rem;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 150%;
                                    display: inline-block;
                                    margin-bottom: 12rem;
                                }
                            }

                            ul {
                                li {
                                    margin: 0;
                                    letter-spacing: normal;

                                    a {
                                        padding: 0;
                                        width: unset;
                                        overflow: unset;
                                        text-overflow: unset;
                                        white-space: nowrap;
                                        color: $dark_green;
                                        font-family: $font1;
                                        font-size: 12rem;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%;
                                        margin-bottom: 12rem;
                                        cursor: pointer;
                                    }

                                    &:last-child {
                                        a {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                position: static;
                            }
                        }
                    }
                }

                .support {
                    .hs-menu-wrapper {
                        >ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            >li {
                                margin: 0;
                                letter-spacing: normal;

                                >a {
                                    max-width: unset;
                                    padding: 0;
                                    text-overflow: unset;
                                    white-space: normal;
                                    overflow: unset;
                                    color: $dark_green;
                                    font-family: $font1;
                                    font-size: 16rem;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 150%;
                                    display: inline-block;
                                    margin-bottom: 12rem;
                                }
                            }

                            ul {
                                li {
                                    margin: 0;
                                    letter-spacing: normal;

                                    a {
                                        padding: 0;
                                        width: unset;
                                        overflow: unset;
                                        text-overflow: unset;
                                        white-space: nowrap;
                                        color: $dark_green;
                                        font-family: $font1;
                                        font-size: 12rem;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%;
                                        margin-bottom: 12rem;
                                        cursor: pointer;
                                    }

                                    &:last-child {
                                        a {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                position: static;
                            }
                        }
                    }
                }

                .comp-add {
                    h3 {
                        max-width: unset;
                        padding: 0;
                        text-overflow: unset;
                        white-space: normal;
                        overflow: unset;
                        color: $dark_green;
                        font-family: $font1;
                        font-size: 16rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        display: inline-block;
                        margin-bottom: 0rem;
                    }

                    p {
                        margin-bottom: 0;
                        margin-top: 12rem;
                        font-family: $font1;
                        font-size: 12rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }

                    a {
                        display: block;
                        color: $dark_green;
                        font-family: $font1;
                        font-size: 12rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

                display: flex;
                gap: 50rem;
                width: 100%;
                margin-bottom: 50rem;

                .primary-nav {
                    display: flex;
                    gap: 50rem;
                    width: 66%;
                }

                .meta-details {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 34%;
                }
            }

            .copyright-image {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .image-cnt {
                    display: flex;
                    align-items: center;
                    gap: 10rem;

                    .all-fiber {
                        img {
                            flex-shrink: 0;
                            aspect-ratio: 1/1;
                        }
                    }

                    .accredited {
                        img {
                            flex-shrink: 0;
                            min-height: 80rem;
                            max-height: 80rem;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .copyright-text {
                    p {
                        &:first-child {
                            margin-bottom: 0rem;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        margin-top: 0;
                        color: $dark_green;
                        font-family: $font1;
                        font-size: 12rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}

@include tabletMax {
    .u4m-footer {
        .footerBtm {
            .page-center {
                .btm-inner {
                    .meta-details {
                        width: 100%;
                    }

                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .primary-nav {
                        gap: unset;
                        justify-content: space-between;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include smallTablet {
    .u4m-footer {
        .footerBtm {
            .page-center {
                .copyright-image {
                    flex-direction: column;
                    row-gap: 50rem;
                    align-items: flex-start;
                }

                .btm-inner {
                    .about-us {
                        .hs-menu-wrapper {
                            >ul {
                                ul {
                                    li {
                                        a {
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .quick-links {
                        .hs-menu-wrapper {
                            >ul {
                                ul {
                                    li {
                                        a {
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .solutions {
                        .hs-menu-wrapper {
                            >ul {
                                ul {
                                    li {
                                        a {
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .support {
                        .hs-menu-wrapper {
                            >ul {
                                ul {
                                    li {
                                        a {
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .primary-nav {
                        gap: 10rem;
                    }
                }
            }
        }
    }
}

@include tabletvert {
    .u4m-footer {
        .footerBtm {
            .page-center {
                .btm-inner {
                    .primary-nav {
                        flex-direction: column;
                        row-gap: 20rem;
                        justify-content: center;
                        align-items: center;

                        .comp-add {
                            text-align: center;
                        }
                    }

                    .meta-details {
                        align-items: center;
                    }

                    .about-us {
                        .hs-menu-wrapper {
                            >ul {
                                text-align: center;
                            }
                        }
                    }

                    .quick-links {
                        .hs-menu-wrapper {
                            >ul {
                                text-align: center;
                            }
                        }
                    }

                    .solutions {
                        .hs-menu-wrapper {
                            >ul {
                                text-align: center;
                            }
                        }
                    }

                    .support {
                        .hs-menu-wrapper {
                            >ul {
                                text-align: center;
                            }
                        }
                    }
                }

                .copyright-image {
                    align-items: center;

                    .copyright-text {
                        p {
                            text-align: center;
                        }
                    }
                }
            }

            padding-left: 25rem;
            padding-right: 25rem;
            padding-top: 30rem;
            padding-bottom: 30rem;
        }

        .footerTop {
            padding-left: 25rem;
            padding-right: 25rem;
            padding: 25rem;

            .page-center {
                h2 {
                    font-size: 28rem;
                    line-height: 1.25;
                }
            }
        }
    }
}

@include phone {
    .u4m-footer {
        .footerBtm {
            .page-center {
                .copyright-image {
                    .image-cnt {
                        flex-direction: column;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}