//heading styles
@mixin h1 {
  color: $dark_green;
  font-family: $font1;
  font-size: 75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 113.333%;
  margin-top: 0;
  margin-bottom: 30rem;

  @include tablet {
    font-size: 48rem;
  }
  @include phone {
    font-size: 38rem;
    margin-bottom: 20rem;
  }
}

@mixin h2 {
  color: $dark_green;
  font-family: $font2;
  font-size: 55rem;
  font-style: normal;
  font-weight: 700;
  line-height: 118.182%;
  margin-bottom: 30rem;
  margin-top: 0;
  @include tablet {
    font-size: 38rem;
  }
  @include phone {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}

@mixin h3 {
  color: $dark_green;
  font-family: $font2;
  font-size: 40rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112.5%;
  margin-bottom: 30rem;

  @include tablet {
    font-size: 32rem;
  }
  @include phone {
    font-size: 28rem;
    margin-bottom: 20rem;
  }
}

@mixin h4 {
  color: $dark_green;
  font-family: $font2;
  font-size: 30rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116.667%;
  @include tablet {
    font-size: 28rem;
  }
  @include phone {
    font-size: 24rem;
    margin-bottom: 20rem;
  }
}

@mixin h5 {
  color: $dark_green;
  font-family: $font2;
  font-size: 28rem;
  font-style: normal;
  font-weight: 400;
  line-height: 107.143%;
  margin-bottom: 30rem;

  @include tablet {
    font-size: 24rem;
  }
  @include phone {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}

@mixin h6 {
  color: $dark_green;
  font-family: $font2;
  font-size: 20rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30rem;

  @include tablet {
    font-size: 20rem;
  }
  @include phone {
    font-size: 18rem;
    margin-bottom: 20rem;
  }
}

//body styles
@mixin b1 {
  color: $dark_green;
  font-family: $font1;
  font-size: $baseFontSize;
  font-style: normal;
  font-weight: 400;
  line-height: $baseLineHeight;
  @include phone {
    font-size: $baseFontSize;
  }
}

@mixin b2 {
  color: $dark_green;
  font-family: $font1;
  font-size: $baseFontSize;
  font-style: normal;
  font-weight: 600;
  line-height: $baseLineHeight;
  text-transform: uppercase;
  margin-bottom: 20rem;
  @include phone {
    font-size: $baseFontSize;
  }
}

@mixin b3 {
  color: $dark_green;
  font-family: $font1;
  font-size: 18rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55555555556;

  @include phone {
    font-size: 18rem;
  }
}

@mixin b4 {
  color: $dark_green;
  font-family: $font1;
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20rem;
  @include phone {
    font-size: 16rem;
  }
}

@mixin b5 {
  color: $dark_green;
  font-family: $font3;
  font-size: 32rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @include phone {
    font-size: 32rem;
  }
}

@mixin b6 {
  font-family: $font1;
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
  @include phone {
    font-size: 12rem;
  }
}

@mixin blockquote {
  font-family: $font1;
  font-size: 30rem;
  font-weight: bold;
  line-height: $baseLineHeight;
  letter-spacing: 1rem;
  margin: 50rem auto;
  color: $action1;
  display: block;
  max-width: 90%;
  @include phone {
    font-size: 23rem;
  }
}
@mixin eyebrow {
  font-family: $font1;
  font-size: 16rem;
  font-weight: bold;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10rem;
}

@mixin size10 {
  font-size: 10rem;
}

@mixin size12 {
  font-size: 12rem;
}

@mixin size14 {
  font-size: 14rem;
}

@mixin size16 {
  font-size: 16rem;
}

@mixin size18 {
  font-size: 18rem;
}

@mixin size20 {
  font-size: 20rem;
}

@mixin size22 {
  font-size: 22rem;
}

@mixin size24 {
  font-size: 24rem;
}

@mixin size26 {
  font-size: 26rem;
}

@mixin size28 {
  font-size: 28rem;
}

@mixin size30 {
  font-size: 30rem;
}

@mixin size32 {
  font-size: 32rem;
}

@mixin size40 {
  font-size: 40rem;
}

@mixin size50 {
  font-size: 50rem;
}

@mixin size128 {
  font-size: 128rem;
}

@mixin size100 {
  font-size: 100rem;
}

@mixin size110 {
  font-size: 110rem;
}

@mixin size80 {
  font-size: 80rem;
}

@mixin size68 {
  font-size: 68rem;
}

@mixin size19 {
  font-size: 19rem;
}
