@include remScalling;

// * {
//   border: 1px solid red;
// }

/* Keep background from scrolling when menu is open */
html.menu-open {
  overflow-y: hidden;
}

/* Keep background from scrolling when menu is open */
html {
  display: block;
  opacity: 1;
}

/* make html visible after Firefox flash in hack */
body {
  @include b1;

  &.hide-header {
    margin-top: 0;
  }
}

body.lp-sign-up {
  margin-top: 0;
}

/* Set default text size */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

//Set in Typography Mixins
p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* 0 top margin on 1st header */
// default anchor link offset

.dnd-section,
.dnd_padd {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bg_overlay ~ :not(.bg_overlay),
.dnd_padd {
  position: relative;
  z-index: 2;
}

.bg_image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg_overlay {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.page-center.full_width {
  max-width: 100%;
  padding: 0;
}

div.hs_cos_wrapper_widget section.top-margin-none {
  margin-top: 0;
}

div.hs_cos_wrapper_widget section.top-margin-small {
  margin-top: 50rem;

  @include tabletvert {
    margin-top: 35rem;
  }

  @include phone {
    margin-top: 25rem;
  }
}

div.hs_cos_wrapper_widget section.top-margin-medium {
  margin-top: 100rem;

  @include tabletvert {
    margin-top: 75rem;
  }

  @include phone {
    margin-top: 50rem;
  }
}

div.hs_cos_wrapper_widget section.top-margin-large {
  margin-top: 150rem;

  @include tabletvert {
    margin-top: 115rem;
  }

  @include phone {
    margin-top: 75rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-margin-none {
  margin-bottom: 0;
}

div.hs_cos_wrapper_widget section.bottom-margin-small {
  margin-bottom: 50rem;

  @include tabletvert {
    margin-bottom: 35rem;
  }

  @include phone {
    margin-bottom: 25rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-margin-medium {
  margin-bottom: 100rem;

  @include tabletvert {
    margin-bottom: 75rem;
  }

  @include phone {
    margin-bottom: 50rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-margin-large {
  margin-bottom: 150rem;

  @include tabletvert {
    margin-bottom: 115rem;
  }

  @include phone {
    margin-bottom: 75rem;
  }
}

div.hs_cos_wrapper_widget section.top-padding-none {
  padding-top: 0;
}

div.hs_cos_wrapper_widget section.top-padding-small {
  padding-top: 50rem;

  @include tabletvert {
    padding-top: 35rem;
  }

  @include phone {
    padding-top: 25rem;
  }
}

div.hs_cos_wrapper_widget section.top-padding-medium {
  padding-top: 100rem;

  @include tabletvert {
    padding-top: 75rem;
  }

  @include phone {
    padding-top: 50rem;
  }
}

div.hs_cos_wrapper_widget section.top-padding-large {
  padding-top: 150rem;

  @include tabletvert {
    padding-top: 115rem;
  }

  @include phone {
    padding-top: 75rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-padding-none {
  padding-bottom: 0;
}

div.hs_cos_wrapper_widget section.bottom-padding-small {
  padding-bottom: 50rem;

  @include tabletvert {
    padding-bottom: 35rem;
  }

  @include phone {
    padding-bottom: 25rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-padding-medium {
  padding-bottom: 100rem;

  @include tabletvert {
    padding-bottom: 75rem;
  }

  @include phone {
    padding-bottom: 50rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-padding-large {
  padding-bottom: 150rem;

  @include tabletvert {
    padding-bottom: 115rem;
  }

  @include phone {
    padding-bottom: 75rem;
  }
}

// default anchor link offset
.anchor {
  display: block;
  position: relative;
  top: -160rem;
  visibility: hidden;
}
//eyebrowtext
.eyebrowtext {
  color: $middle_green;
  font-family: $font1;
  font-size: $baseFontSize;
  font-style: normal;
  font-weight: 600;
  line-height: $baseLineHeight;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.intro_btn_wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.intro_content.left .intro_btn_wrap {
  justify-content: left;
}
.intro_content.right .intro_btn_wrap {
  justify-content: right;
}
.intro_content.center .intro_btn_wrap {
  justify-content: center;
}
h2.intro_title {
  margin-bottom: 12px;
}
.intro_desc p {
  margin-bottom: 12px;
}

// video popup for Magnific modal
div.video-popup {
  position: relative;
  background: transparent;
  padding: 50rem;
  width: auto;
  max-width: 960rem;
  margin: 0 auto;

  button.mfp-close {
    color: $white;
    font-size: 40rem;
  }
}

// HubSpot Cookie Notification
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom.can-use-gradients {
  box-shadow: 2rem -1rem 5rem 0rem rgba(0, 0, 0, 0.05);
  border: 0;
  background-color: rgba($white, 0.9);

  div#hs-eu-cookie-confirmation-inner {
    background-color: rgba($white, 0);
    padding: 15rem 20rem 10rem 20rem;
    max-width: 1240rem;

    p {
      @include b4;
      margin-bottom: 0;
    }

    div#hs-en-cookie-confirmation-buttons-area {
      text-align: left !important;
      margin: 0 !important;

      a#hs-eu-confirmation-button {
        @include buttonSmall;
        font-weight: bold !important;
        margin: 10rem 0;

        &:hover {
          background-color: $black !important;
        }
      }
    }
  }
}

// default p size
p {
  @include b1;
}

a {
  @include link;
}

blockquote,
blockquote p {
  @include blockquote;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  @include b3;
  list-style: disc;
  padding-left: 40rem;
  margin-top: 0;
  margin-bottom: 30rem;
}

ol {
  @include b3;
  list-style: decimal;
  padding-left: 40rem;
  margin-top: 0;
  margin-bottom: 30rem;
}

li {
  margin-bottom: 5rem;
  letter-spacing: 0.5rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 20rem 0 20rem 20rem;
}

input {
  font-family: $font1;
}

button {
  font-family: $font1;
  cursor: pointer;
}

/* Forms */
form {
  margin-bottom: 30rem;
}

/* primary button */
.hs-button,
.btn_item.cmhs-button a.cta_button {
  @include button;
  -moz-box-sizing: unset !important;
  -webkit-box-sizing: unset !important;
  box-sizing: unset !important;
  vertical-align: unset !important;
}

a.hs-sec-btn {
  color: #39473f;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 5px;
  span.text {
    position: relative;
    svg {
      height: 2px;
      flex-shrink: 0;
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 10%;
      height: 2px;
      background: linear-gradient(
        71deg,
        #fff 0%,
        $bright_green 41.68%,
        #697b79 83.9%,
        #697b79 101.77%
      );
      bottom: -1px;
      transition: all 0.3s ease;
    }
  }
  span.arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: all 0.3s ease;
  }
  &:hover {
    span.text {
      &:before {
        width: 100%;
      }
    }
    span.arrow {
      transform: translateX(5px);
    }
  }
}

.cmhs-sec-btn {
  a.cta_button {
    position: relative;
    color: #39473f;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 5px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 10%;
      height: 2px;
      background: linear-gradient(
        71deg,
        #fff 0%,
        #d0dd28 41.68%,
        #697b79 83.9%,
        #697b79 101.77%
      );
      bottom: -1px;
      transition: all 0.3s ease;
    }

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2225%22%20viewBox%3D%220%200%2018%2025%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.594%2011.8808C12.8098%2012.0901%2012.8098%2012.4294%2012.594%2012.6387L6.95976%2018.1028C6.74394%2018.3121%206.39409%2018.3121%206.17827%2018.1028L5.91772%2017.8501C5.7019%2017.6408%205.7019%2017.3015%205.91772%2017.0922L10.9007%2012.2598L5.91772%207.42731C5.7019%207.21801%205.7019%206.87872%205.91772%206.66942L6.17827%206.41674C6.39409%206.20744%206.74394%206.20744%206.95976%206.41674L12.594%2011.8808Z%22%20fill%3D%22%2339473F%22%2F%3E%3C%2Fsvg%3E");
      width: 24px;
      height: 24px;
      transition: all 0.3s ease;
      display: inline-block;
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      &::before {
        width: calc(100% - 29px);
      }

      &::after {
        transform: translateX(5px);
      }
    }
  }
}

a.tertiary-btn,
.btn_item.cmtertiary-btn a.cta_button {
  display: inline-block;
  padding: 12rem 47.5rem;
  border-radius: 24px;
  border: 3px solid $white;
  color: $white;
  text-align: center;
  font-family: $font1;
  font-size: $baseFontSize;
  font-style: normal;
  font-weight: 600;
  line-height: $baseLineHeight;
  &:hover {
    border-color: $bright_green;
    color: $bright_green;
  }
}

::-webkit-input-placeholder {
  color: $gray3;
  opacity: 1;
  font-weight: normal;
}

/* Webkit input placeholders */
::-moz-placeholder {
  color: $gray3;
  opacity: 1;
  font-weight: normal;
}

/* Firefox input placeholders */
:-ms-input-placeholder {
  color: $gray3;
  opacity: 1;
  font-weight: normal;
}

/* IE  input placeholders */
/* Images */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

/* Make responsive, clear border, fix IE scaling, suppress the space beneath the baseline, fix Webkit blurring on scaled down files */
svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Horizontal Rule */
hr {
  margin-top: 30rem;
  margin-bottom: 35rem;
  border-width: 0;
  border-top: 1rem solid $gray1;
}

/* Abbreviations */
abbr[title] {
  border: 0;
}

/* Code */
code {
  padding: 1rem;
  margin: 0 10rem;
  white-space: nowrap;
  background: $gray1;
  border: 1rem solid $gray1;
  border-radius: 0;
}

pre > code {
  display: block;
  padding: 1rem 15rem;
  white-space: pre;
  margin-bottom: 30rem;
}

pre {
  overflow-x: auto;
}

/* responsive pre elements */
table pre {
  white-space: pre-wrap;
}

/* responsive pre tables */
/* Tables */
th,
td {
  padding: 10rem 20rem;
  text-align: left;
  border-bottom: 1rem solid $gray1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

table {
  margin-bottom: 30rem;
}

table th {
  text-transform: uppercase;
}

table td {
  border-bottom: 1rem solid $gray2;
  font-size: 14rem;
}

a[href="javascript:;"] {
  cursor: default;
}

//
section[class*="u4m-"] {
  scroll-margin-top: 150px;
}

.bright_green_bg {
  background-color: $bright_green;
}
.super_light_gray_bg {
  background-color: $super_light_gray;
}
.light_gray_bg {
  background-color: $light_gray;
}
.middle_green_bg {
  background-color: $middle_green;
}
.dark_green_bg {
  background-color: $dark_green;
}
.orange_bg {
  background-color: $orange;
}
.red_bg {
  background-color: $red;
}
.blue_bg {
  background-color: $blue;
}
.yellow_bg {
  background-color: $yellow;
}
.gradient1 {
  background: $gradient1;
}

.gradient2 {
  background: $gradient2;
}

.intro_desc.b3 p {
  @include b3;
  color: inherit;
}

.reverse-text {
  color: $white;

  .cmhs-sec-btn {
    a.cta_button {
      color: #fff;

      &::after {
        filter: invert(1);
      }
    }
  }

  a.hs-sec-btn {
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  .themeStyle,
  .bodystyle2,
  .bodystyle1,
  .bodystyle3,
  .bodystyle4,
  .bodystyle5,
  .eyebrow_text,
  .eyebrowtext,
  .intro_desc,
  .intro_title {
    color: $white;
  }

  :is(h1, h2, h3, h4, h5, h6, p) {
    color: $white;
  }
}
