@import "../../css/_module-imports";

.u4m-top-tabber {
  .page-center {
    .innerContainer {
      .intro_content {
        margin: 0 auto;
        text-align: center;
      }
    }
    .tabber_wrp {
      .tab_row {
        padding: 0rem 0rem;
        margin: 0;
        list-style: none;
        > li {
          margin: 0;
          text-align: center;
          padding: 0;
          > a {
            width: 100%;
            font-family: $font2;
            font-size: 20rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            color: $light_periwinkle_gray;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            border-bottom: 3rem solid $light_periwinkle_gray;
            padding: 20rem;
            cursor: pointer;
            @include tabletvert {
              padding: 10rem 0rem;
            }
            &:hover {
              color: $dark_green;
              border-bottom-color: $bright_green;
            }
          }
        }
        > li.active {
          a {
            color: $dark_green;
            border-bottom-color: $bright_green;
          }
        }
      }
      .tab_content_wrp {
        margin: 0 auto;
        max-width: 800rem;
        padding: 40rem 0;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
        .flex_row {
          .col-inner {
            .content_wrp {
              h2 {
                font-family: $font2;
                font-size: 40rem;
                font-style: normal;
                font-weight: 700;
                line-height: 45rem;
                color: $dark_green;
                @include tablet {
                  font-size: 35rem;
                  @include tabletvert {
                    line-height: 1;
                    font-size: 25rem;
                  }
                }
              }
            }
          }
          .left-col {
            padding: 0;
          }
          .btn_wrp {
            margin-top: 20rem;
          }
          .right-col {
            @include tabletvert {
              padding: 0;
            }
            .vid_wrp {
              .external_vid {
                iframe {
                  width: 100%;
                }
              }
            }
          }
        }
        .bottom-section {
          margin-top: 40rem;
          width: 100%;
          margin-left: -15rem;
          margin-right: -15rem;
          h3 {
            font-family: $font2;
            font-size: 30rem;
            font-style: normal;
            font-weight: 700;
            line-height: 35rem;
            color: $dark_green;
            margin-bottom: 20rem;
          }
          .list_wrp {
            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              li {
                margin: 0;
                display: flex;
                align-items: center;
                margin-bottom: 10rem;
                span.icon {
                  svg {
                    width: 24rem;
                    height: 24rem;
                  }
                  display: inline-block;
                  margin-right: 12rem;
                  height: 24rem;
                }
                span.text {
                  color: $dark_green;
                  font-family: $font1;
                  font-size: 16rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%;
                  display: inline-block;
                }
              }
            }
          }
        }
        .tab_content_inner {
          .right-col {
            .img_wrp {
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .tab_content_wrp.active {
        opacity: 1;
        visibility: visible;
        display: block;
      }
    }
  }
  .tabber_wrp {
    padding: 0rem 20rem;
    @include tabletvert {
      padding: 0rem 10rem;
    }
  }
}
