@import "../../css/_module-imports";

.u4m-top-tabber {
  &.reverse-text {
    .page-center {
      .tabber_wrp {
        .tab_row {
          li {
            &.active {
              a {
                color: $white;
                opacity: 0.8;
              }
            }
            a {
              &:hover {
                color: $white;
                opacity: 0.8;
              }
              color: $white;
            }
          }
        }
        .tab_content_wrp {
          .flex_row {
            .col-inner {
              .content_wrp {
                h2 {
                  color: $white;
                }
              }
            }
          }
          .bottom-section {
            .list_wrp {
              ul {
                li {
                  span.text {
                    color: $white;
                  }
                }
              }
            }
            h3 {
              color: $white;
            }
          }
        }
      }
    }
  }
  .page-center {
    .innerContainer {
      .intro_content {
        margin: 0 auto;
      }
    }
    .tabber_wrp {
      margin-top: 30rem;
      .tab_row {
        padding: 0rem 0rem;
        margin: 0;
        list-style: none;
        @include tabletvert {
          display: none;
        }

        > li {
          margin: 0;
          text-align: center;
          padding: 0;
          > a {
            width: 100%;
            font-family: $font2;
            font-size: 20rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            color: $light_periwinkle_gray;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            border-bottom: 3rem solid $light_periwinkle_gray;
            padding: 20rem;
            cursor: pointer;
            @include tabletvert {
              padding: 10rem 0rem;
            }
            &:hover {
              color: $dark_green;
              border-bottom-color: $bright_green;
            }
          }
        }
        > li.active {
          a {
            color: $dark_green;
            border-bottom-color: $bright_green;
          }
        }
      }
      .tab_content_wrp {
        margin: 0 auto;
        max-width: 800rem;
        padding: 40rem 0;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;

        @include tabletvert {
          opacity: 1;
          display: block;
          visibility: visible;
          padding: 0;
          .mob_acc_wrp a.accordion_title {
            width: 100%;
            font-family: $font2;
            font-size: 20rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            color: $light_periwinkle_gray;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            border-bottom: 3rem solid $light_periwinkle_gray;
            padding: 20rem;
            cursor: pointer;
          }
        }
        .flex_row {
          @include tabletvert {
            margin: 0;
          }
          .col-inner {
            .content_wrp {
              h2 {
                font-family: $font2;
                font-size: 40rem;
                font-style: normal;
                font-weight: 700;
                line-height: 45rem;
                color: $dark_green;
                @include tablet {
                  font-size: 35rem;
                  @include tabletvert {
                    line-height: 1;
                    font-size: 25rem;
                  }
                }
              }
            }
          }
          .left-col {
            padding: 0;
          }
          .btn_wrp {
            margin-top: 20rem;
          }
          .right-col {
            .col-inner {
              .vid_wrp {
                &.video-active {
                  .play-icon {
                    display: none;
                  }
                  .postImg {
                    display: none;
                  }
                }
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                line-height: 0;
                padding-bottom: 56%;
                video {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                }
                iframe {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                }
                .play-icon {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  width: 50px;
                  height: 50px;
                  color: $white;
                  cursor: pointer;
                  transition: all 0.3s;
                  z-index: 2;
                  svg {
                    fill: $white;
                  }
                }
                .postImg {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  z-index: 1;
                }
              }
            }
            @include tabletvert {
              padding: 0;
            }
            .vid_wrp {
              .external_vid {
                iframe {
                  width: 100%;
                }
              }
            }
          }
        }
        .bottom-section {
          margin-top: 40rem;
          width: 100%;
          margin-left: -15rem;
          margin-right: -15rem;
          @include tabletvert {
            margin: 0;
          }
          h3 {
            font-family: $font2;
            font-size: 30rem;
            font-style: normal;
            font-weight: 700;
            line-height: 35rem;
            color: $dark_green;
            margin-bottom: 20rem;
          }
          .list_wrp {
            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              li {
                margin: 0;
                display: flex;
                align-items: center;
                margin-bottom: 10rem;
                span.icon {
                  svg {
                    width: 24rem;
                    height: 24rem;
                  }
                  display: inline-block;
                  margin-right: 12rem;
                  height: 24rem;
                }
                span.text {
                  color: $dark_green;
                  font-family: $font1;
                  font-size: 16rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%;
                  display: inline-block;
                }
              }
            }
          }
        }
        .tab_content_inner {
          @include tabletvert {
            display: none;
            padding: 20px;
            @include phone {
              padding: 10px;
            }
          }

          .right-col {
            .img_wrp {
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .tab_content_wrp.active {
        opacity: 1;
        visibility: visible;
        display: block;
      }
    }
  }
  .tabber_wrp {
    padding: 0rem 20rem;
    @include tabletvert {
      padding: 0rem 10rem;
    }
  }
}

@include tabletvertmin {
  .mob_acc_wrp {
    display: none;
  }
}
@include tabletvert {
  .u4m-top-tabber {
    .page-center {
      .tabber_wrp {
        .tab_content_wrp {
          &.mob-acc-active {
            .tab_content_inner {
              display: block;
            }
            a.accordion_title {
              color: $dark_green;
              border-bottom-color: $bright_green;
            }
          }
        }
      }
    }
  }
}
