@import "../../css/_module-imports";

.u4m-blog-post-cards {
  .content_column {
    margin-top: 50px;
    .flex_row {
      margin: 0 -10px;
      > div {
        padding: 0 10px;
      }
      .content_holder {
        h4.cardtitle {
          font-family: $font2;
          font-size: 30rem;
          font-style: normal;
          font-weight: 700;
          line-height: 34px;
          margin-bottom: 15px;
          margin-top: 12px;
        }
        p {
          margin-top: 0;
          margin-bottom: 15px;
        }
      }
      .card_inner {
        .media_holder {
          .img {
            svg {
              height: 100%;
              margin: 0;
              display: block;
              width: 100%;
            }
            img {
              border-radius: 24px 24px 0px 0px;
            }
          }
        }
        .icon {
          svg {
            width: 60px;
            height: 60px;
            margin-bottom: 30px;
          }
        }
        .content_holder {
          a.hs-sec-btn {
            margin-top: 30px;
          }
        }
      }
      .media_holder {
        .svg {
          margin-bottom: 30px;
        }
        svg {
          max-width: unset;
        }
      }
      .card_inner.iconleft {
        display: flex;
        column-gap: 30px;
        .media_holder {
          width: 60px;
          @include phone {
            flex-wrap: wrap;
          }
        }
      }
      .card_area {
        .media_holder {
          img {
            border-radius: 24px 24px 0 0;
            width: 100%;
            min-height: 227px;
            object-fit: cover;
            max-height: 227px;
          }
          svg {
            display: block;
            height: 100%;
            margin: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .innerContainer {
    .intro_content {
      .intro__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .intro_desc {
          max-width: 650px;
          margin-left: 0;
          @mixin tabletvert {
            max-width: 100%;
          }
        }
      }
    }
  }
}
